apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../ex03-statefulset,cronjob
  - todo-hpa.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: frontend
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: frontend
      spec:
        template:
          spec:
            containers:
              - name: todolist
                resources:
                  requests:
                    memory: "256Mi"
                    cpu: "100m"
                  limits:
                    memory: "512Mi"
                    cpu: "250m"